page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }


  iframe {
        width: 1px;
        min-width: 100%;
    }

 .grid-basic-page {

  ion-col div {
   // background-color: #f0f5ff;
  //  border: 1px solid #e6e9ee;
   // border-radius: 2px;
    padding: 2px;
    text-align: center;
  }

  p {
    padding: 10px 0 0 10px !important;
    margin: 0;
  }




}

.meta {
font-weight: bold;
}

.tag {

}



}
